doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="css/style.css")
        title Super Gulp
    body
        include ../partials/header

        block content 

        include ../partials/footer

        script(src="js/main.js")